<%- include('includes/head.ejs') %>
<header>
    <h1 class="title">Chilaquiles</h1>
</header>
<main>
    <% if(mensaje != '') { %>
        <div class="notification is-info">
            <button class="delete"></button>
            Registro de nuevos chilaquiles exitoso.
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                    const $notification = $delete.parentNode;
                    $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                    });
                });
            });
        </script>
        <% } %>
    <br />
    <br />
    <a href="/crear" class="button is-link">Nuevo</a>
    <br />
    <br />
    <% if(ultimo_pedido != '') { %> 
    <h2 class="subtitle">Último pedido</h2>
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                    <img
                        src="<%= imagen %>"
                        alt="<%= ultimo_pedido %>"
                    />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                        <figure class="image is-60x60">
                            <img
                                src="<%= imagen %>"
                                alt="<%= ultimo_pedido %>"
                            />
                        </figure>
                        </div>
                        <div class="media-content">
                        <p class="title is-4"><%= ultimo_pedido %></p>
                        </div>
                    </div>
                
                    <div class="content">
                        <%= ultimo_pedido %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>

    <div class="columns">
        <% for (chilaquil of chilaquiles) { %>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        <img
                            src="<%= chilaquil.imagen %>"
                            alt="<%= chilaquil.descripcion %>"
                        />
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                            <figure class="image is-48x48">
                                <img
                                    src="<%= chilaquil.imagen %>"
                                    alt="<%= chilaquil.descripcion %>"
                                />
                            </figure>
                            </div>
                            <div class="media-content">
                            <p class="title is-4"><%= chilaquil.descripcion %></p>
                            </div>
                        </div>
                    
                        <div class="content">
                            <%= chilaquil.descripcion %>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

    <a href="/preparar" class="button is-warning" id="boton_chilaquiles">Preparar orden</a>
    <button style="display:none" class="button is-success" id="boton_salsa_verde">Poner salsa verde</button>
    <button style="display:none" class="button is-warning" id="boton_suerte">Voy a tener suerte</button>
    <button style="display:none" class="button is-danger" id="boton_salsa_roja">Poner salsa roja</button>
    <button style="display:none" class="button is-danger" id="boton_salsa_rojaverde">Poner salsa roja y verde</button>

    <br><br>
    <img width="60%" id="imagen_chilaquiles" src="" alt="" />
    
<%- include('includes/foot.ejs') %>